sample/.classpath
sample/.project
sample/.settings
sample/target
sample/bin
sample/**/*.orig

common/.classpath
common/.project
common/.settings
common/target
common/bin
common/**/*.orig

integration/.classpath
integration/.project
integration/.settings
integration/target
integration/bin
integration/**/*.orig

jdk8/.classpath
jdk8/.project
jdk8/.settings
jdk8/target
jdk8/bin
jdk8/**/*.orig


web/.classpath
web/.project
web/.settings
web/target
web/bin
web/**/*.orig


druid-test/.classpath
druid-test/.project
druid-test/.settings
druid-test/target
druid-test/bin






