sample/.classpath
sample/.project
sample/.settings
sample/target
sample/bin
sample/**/*.orig

common/.classpath
common/.project
common/.settings
common/target
common/bin
common/**/*.orig

integration/.classpath
integration/.project
integration/.settings
integration/target
integration/bin
integration/**/*.orig


druid-test/.classpath
druid-test/.project
druid-test/.settings
druid-test/target
druid-test/bin






